/*----------------------------------------------*
	CSS Index
/*----------------------------------------------*
01.) Variables
02.) General
03.) Header
04.) Page Layouts
05.) Landing Pages
06.) Footer
07.) Inner Pages
08.) Blog Layout
09.) 404 and Comingsoon Page CSS
10.) Sign-In and Sign-Up
11.) Timeline
12.) Responsive
/-------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');
/*----------------------------------------------*
01.) Variable CSS
/*----------------------------------------------*/
:root {
	--body-text-color:#3f3f3f;
	--heading-text-color:#111111;
	--menu-link-color:#111111;
	--white-color:#ffffff;
	--very-light-gray:#f2f2f2;
	--light-gray:#ebebeb;
	--gray:#cccccc;
	--dark-gray:#797979;
	--success:#28a745;
	--success-bg:#d4edda;
	--info:#17a2b8;
	--info-bg:#cce5ff;
	--warning:#ffc107;
	--warning-bg:#fff3cd;
	--danger:#dc3545;
	--danger-bg:#f8d7da;
}
/*----------------------------------------------*
02.) General CSS
/*----------------------------------------------*/
html,body,div,span,h1,h2,h3,h4,h5,p,blockquote,a,img,strong,b,i,ul,li,form,label,footer,header{
	margin:0;
	padding:0;
	border:0;
	outline:0
}
html,body,form,p,div,h1,h2,h3,h4,h5{
	-webkit-text-size-adjust:none
}
footer,header{
	display:block;
	clear:both;
}
html {
	font-family: 'Microsoft YaHei',"Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size: 62.5%;
}
body {
	font-size:16px;
	line-height:1.5;
	overflow-x: hidden;
	min-width:320px;
	/*-webkit-overflow-scrolling: touch;*/
	color:var(--body-text-color);
	background:#ffffff;
	font-family: 'Lato', sans-serif;
}
a {
	background:transparent;
	text-decoration:none;
	-webkit-tap-highlight-color:transparent;
	color:#2a1fbc;
}
a:active {
	outline: 0;
}
a:active, a:hover, a:focus {
	color:var(--menu-link-color);
	text-decoration:none;
}
b, strong{
	font-weight:bold;
}
ul{
	list-style: none outside none;
}
img{
	vertical-align:middle;
	border:0;
	max-width:100%;
}
*, ::after, ::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.h1, h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
	line-height:1.2;
}
h1, .h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:48px;
	font-weight:bold;
	color:var(--heading-text-color);
	letter-spacing:-1px;
	margin-bottom:18px;
}
h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:42px;
	font-weight:bold;
	color:var(--heading-text-color);
	letter-spacing:-1px;
	margin-bottom:18px;
}
h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:36px;
	font-weight:bold;
	color:var(--heading-text-color);
	letter-spacing:-0.6px;
	margin-bottom:18px;
}
h4{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:32px;
	font-weight:bold;
	color:var(--heading-text-color);
	letter-spacing:-0.4px;
	margin-bottom:18px;
}
h5{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:24px;
	font-weight:600;
	color:var(--heading-text-color);
	letter-spacing:0px;
}

p:not(:empty){
	margin-bottom:18px;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(45deg, #ffffff, #ffffff);
	z-index: 9999999;
}
#preloader #status {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#preloader #status .d-loader{
	width: 90px;
	height: 90px;
	position: relative;
	margin: 100px auto;
}
.container{
	max-width: 1200px;
}
[type="button"], [type="submit"], button{
	outline:none !important;
}
.btn{
	font-size:14px;
	letter-spacing:1px;
	text-transform:uppercase;
	font-weight:800;
	padding:0px 30px;
	line-height:48px;
	-webkit-border-radius:6px;
	border-radius:6px;
	cursor:pointer;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s  ease;
	outline:0;
}
.btn + .btn{
	margin-left:15px;
}
.btn-full{
	width:100%;
	text-align:center;
}
.btn-primary:hover, .btn-primary:focus{
	background-position:bottom center;
}
.btn-outline-primary{
	line-height:44px;
}
.btn > i{
	margin-right:10px;
	font-size:24px;
	line-height:1;
	position: relative;
	top: 3px;
}
.btn.link-btn{
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.3;
	outline: none !important;
	box-shadow: none;
	border-bottom:2px solid var(--light-gray);
	border-radius:0px;
}
.btn.link-btn:hover{
	border-bottom:2px solid var(--dark-gray);
}
.style-dark{
	color:var(--white-color) !important;
}
.style-dark a{
	color:var(--white-color);
}
.style-dark h2, .style-dark h3{
	color:var(--white-color) !important;
}
.empty-space-30{
	height:30px;
}
.empty-space-60{
	height:60px;
}
.form-group {
	margin-bottom:10px;
}
.form-group label{
	font-weight:600;
	cursor:pointer;
	margin-bottom:4px;
}
.form-control{
	height: 48px;
	padding: 0 15px;
	font-size: 15px;
	-webkit-border-radius:6px;
	border-radius: 6px;
	color:var(--body-text-color);
}
.style-dark  ::-webkit-input-placeholder { /* Edge */
	color:var(--white-color);
	opacity:0.3;
}
.style-dark  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:var(--white-color);
	opacity:0.3;
}
.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-next {
	right: -25px;
}
.slick-prev {
	left: -25px;
}
.slick-prev::before, .slick-next::before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev::before {
	content: '←';
}
.slick-next::before {
	content: '→';
}
/*----------------------------------------------*
03.) Header CSS
/*----------------------------------------------*/
#master-head{
	position:relative;
	right: 0;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1030;
	background-color: transparent;
	border: 0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	padding:0px;
}
#master-head::before {
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	right: 0;
	content: "";
	display: block;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#master-head.menu-absolute{
	position:absolute;
}
.logo-container{
	padding:25px 0px 25px;
}
.logo{
	display:block;
}
.logo img{
	max-height:50px;
}
.logo .logo-dark{
	display:inline-block;
}
.logo .logo-light{
	display:none;
}
.menu-toggle-btn{
	display:none;
}
#master-head .navbar-toggle {
	border: 0;
	position: relative;
	padding: 0;
	margin: 0;
	cursor: pointer;
	height: 3em;
	width: 3em;
	font-size: 12px;
	transition: all .2s;
	-webkit-tap-highlight-color: transparent;
	display: block;
}
.navbar-toggle .burger-lines {
	top: 50%;
	margin-top: -.125em;
}
.navbar-toggle .burger-lines, .navbar-toggle .burger-lines::after, .navbar-toggle .burger-lines::before {
	pointer-events: none;
	display: block;
	content: "";
	width: 100%;
	border-radius: .25em;
	background-color:var(--heading-text-color);
	height: .25em;
	position: absolute;
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggle .burger-lines, .navbar-toggle .burger-lines::after, .navbar-toggle .burger-lines::before {
	transition: top .2s .2s,left .1s,transform .2s,background-color .4s .2s;
}
.navbar-toggle .burger-lines::before {
	left: 1em;
	top: 1em;
}
.navbar-toggle .burger-lines::after {
	left: 0;
	top: -1em;
}
.navbar-toggle .burger-lines::after, .navbar-toggle .burger-lines::before {
	width: 2em;
}
#navigation .menu-primary .child-link{
	display:none;
}
.menu-primary{
	display:inline-block;
}
.menu-primary li.menu-item{
	display:inline-block;
	padding: 0px 10px;
	font-weight:600;
	position:relative;
}
.menu-primary > li.menu-item.menu-item-has-children > a:after{
	content:"\f078";
	font-size:13px;
	font-family: "Font Awesome 5 Free";
	position:relative;
	line-height:1;
	right:0;
	top:50%;
	margin-top: -5px;
	margin-left:5px;
}
.menu-primary > li.menu-item > a{
	display:block;
	font-size:17px;
	padding:0px 15px;
	line-height:100px;
	color:var(--menu-link-color);
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.menu-primary  .sub-menu{
	position:absolute;
	top:100%;
	background: var(--white-color);
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	padding: 30px 15px;
	min-width:280px;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	transform-origin: top;
	opacity: 0;
	visibility:hidden;
	z-index:-100;
}
.menu-primary .sub-menu li.menu-item > .sub-menu{
	left:100%;
	top: -30px;
	margin-left: 15px;
}
.menu-primary li.menu-item:hover > .sub-menu{
	opacity:1;
	visibility:visible;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	z-index: 1;
}
.menu-primary .sub-menu > li.menu-item{
	padding:8px 15px;
	display:block;
}
.menu-primary .sub-menu > li.menu-item > a{
	color:var(--menu-link-color);
	padding: 0px 0px;
	font-size:15px;
	position:relative;
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	display: block;
}
.menu-primary .sub-menu > li.menu-item > a:before{
	height:3px;
	width:0px;
	content:"";
	display:inline-block;
	position:absolute;
	top:10px;
	left:0;
	background:var(--heading-text-color);
	-webkit-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.menu-primary .sub-menu > li.menu-item:hover > a, .menu-primary .sub-menu > li.menu-item.active > a{
	padding: 0px 0px 0px 35px;
}
.menu-primary .sub-menu > li.menu-item:hover > a:before, .menu-primary .sub-menu > li.menu-item.active > a:before{
	width:25px;
}
.menu-primary > li.menu-item.mega-menu{
	position:static;
}
.menu-primary .mega-menu-inner{
	width:100%;
	max-width:1170px;
	left: 0;
	right:0;
	margin:auto;
	display: flex;
	flex-wrap: nowrap;
}
.menu-primary .mega-menu-inner > li.menu-item {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
}
.menu-primary .mega-menu-inner > li.menu-item > .sub-menu{
	position:static;
	opacity:1;
	transform:none;
	visibility:visible;
	box-shadow:none;
	margin: 0;
	padding: 0;
}
.menu-primary .sub-menu > li.menu-item.col-title > a{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	font-weight: bold;
	padding:0px 15px 0px 15px;
	margin-bottom:15px;
}
.menu-primary .sub-menu > li.menu-item.col-title > a:before{
	display:none;
}
.menu-primary .sub-menu > li.menu-item.col-title > a:after{
	height: 3px;
	width:45px;
	content: "";
	display:block;
	background:var(--heading-text-color);
	margin-top:10px;
}
.menu-primary .sub-menu > li.menu-item.col-title:hover > a{
	color:inherit;
}
.menu-primary .sub-menu > li.menu-item.menu-item-has-children > a::after {
	content: "\f054";
	font-size: 13px;
	font-family: "Font Awesome 5 Free";
	position: absolute;
	line-height: 1;
	right: 0;
	top: 50%;
	margin-top: -5px;
	margin-left: 5px;
}
.navbar-right{
	display:flex;
	flex-wrap:nowrap;
}
/* Ripple Out */
/*----------------------------------------------*
04.) Page Layouts
/*----------------------------------------------*/
.page-header.dc-four{
	padding-bottom:150px;
}
.section-padding{
	padding:100px 0px;
}
.page-header{
	display: flex;
	height: 100%;
	align-items: center;
}
.full-height{
	min-height:100vh;
}
.heading-wrapper{
	margin-bottom:30px;
}
.heading-wrapper span{
	font-family:'Alegreya', serif;
	font-style:italic;
}
.style-dark .heading-wrapper span{
	color:#ffffff;
}
.lead-text, .lead-text p{
	font-size:20px;
	line-height:1.6;
}
.heading-wrapper.with-separator h1:after,
.heading-wrapper.with-separator h2:after{
	height:6px;
	width:60px;
	content:"";
	display:block;
	margin-top:18px;
}
.heading-wrapper.with-separator.text-center h2:after{
	display:table;
	margin-left:auto;
	margin-right:auto;
}
.text-wrapper{
	margin-bottom:30px;
}
.text-wrapper ul{
	margin-bottom:30px;
}
.list-style-one li{
	margin-bottom:12px;
	position:relative;
	padding-left:30px;
}
.list-style-one li:before, .list-style-one li:after{
	content:"";
	width:3px;
	height:10px;
	background:var(--heading-text-color);
	position:absolute;
	top:9px;
	left:0;
}
.list-style-one li:after{
	left:5px;
	width:10px;
}
.text-wrapper p:last-child{
	margin-bottom:0;
}
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	transform-origin: top;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(20,22,24,.95);
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.overlay.overlay-search {
	display: table;
	table-layout: fixed;
	height: 100%;
	width: 100%;
	text-align: center;
}
.overlay.overlay-search .container {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	font-size: 28px;
}
.overlay.overlay-search .container form {
	opacity: 0;
	transform: translateY(-40px);
	animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.overlay.overlay-search .container form {
	display: inline-block;
	width: 100%;
	max-width: 600px;
	max-width: 60vw;
	padding-top: 100px;
	padding-bottom: 100px;
}
.overlay-search .form-group{
	position:relative;
}
.overlay-search .form-control{
	background:transparent;
	color:var(--white-color);
	font-size:24px;
	padding:10px 60px 10px 30px;
	border:1px solid rgba(255,255,255,0.2);
	height: 64px;
}
.overlay-search .search-submit{
	position:absolute;
	background:none;
	border:none;
	right: 10px;
	top: 10px;
	color:var(--white-color);
}
.close-search{
	position:absolute;
	top:30px;
	right:60px;
}
.close-search .lines{
	position:relative;
	height:36px;
	width:36px;
	display: block;
	cursor:pointer;
}
.close-search .lines:after, .close-search .lines:before{
	position:absolute;
	top:0;
	background:rgba(255,255,255,0.8);
	height:36px;
	width:2px;
	content:"";
	top:0;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.close-search .lines:before{
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.gradient-heading-bg{
	position:relative;
}
/*----------------------------------------------*
05.) Landing Pages
/*----------------------------------------------*/
.pricing-plans-one .price-card {
	background:var(--white-color);
	-webkit-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	margin-top:30px;
	-webkit-transition:all 400ms ease-in-out;
	transition:all 400ms ease-in-out;
}
.pricing-plans-one .price-card .card-header{
	background:transparent;
	padding:50px 30px 30px;
	border:none;
	-webkit-border-radius:8px;
	border-radius:8px;
}
.pricing-plans-one .card-title{
	margin-bottom:30px;
}
.pricing-plans-one .plan-cost{
	font-size:60px;
	font-weight:700;
	font-family:"Source Sans Pro", sans-serif;
	letter-spacing:-1px;
	color: var(--heading-text-color);
	line-height:0.8;
	margin-bottom:5px;
}
.pricing-plans-one .plan-cost .plan-cost-prefix{
	display:inline;
	font-size:36px;
	line-height: inherit;
	vertical-align: super;
	font-weight:900;
}
.pricing-plans-one .plan-validity{
	margin:0;
	text-transform:uppercase;
	letter-spacing:0px;
	font-size:16px;
}
.pricing-plans-one .card-body{
	padding:0px 30px 50px;
}
.pricing-plans-one .pricing-feature-list{
	font-size:18px;
	font-weight:600;
	font-family:"Source Sans Pro", sans-serif;
	color: var(--heading-text-color);
	margin:45px 0px;
}
.pricing-plans-one .pricing-feature-list li{
	margin:15px auto;
	padding:0px 0px 0px 30px;
	position:relative;
	display:table;
}
.pricing-plans-one .pricing-feature-list li:before{
	content:"\f00c";
	font-size:18px;
	font-family: "Font Awesome 5 Free";
	font-weight:900;
	position:absolute;
	left:0;
	top:0px;
}
.pricing-plans-one .price-card.popular {
	position: relative;
	top:-25px;
}
/* Pricing Style 2 */
/* Pricing Style 3 */
.features-block{
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}
/*  Feature Style 2 */
.features-block.theme-three .inner-box {
	background: var(--white-color);
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	border:1px solid var(--light-gray);
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	padding:30px 15px;
	position: relative;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.features-block.theme-three .inner-box:hover{
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
	border:1px solid var(--gray);
}
.features-block.theme-three .icon {
	margin: 0px auto 18px;
	text-align: center;
	display: table;
}
.features-block.theme-three .icon img {
	max-width:68px;
	max-height:68px;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.features-block.theme-three h4 {
	font-size:18px;
	margin-bottom:0;
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}
.st-tab-btn .nav-tabs{
	border-bottom:3px solid var(--light-gray);
}
.st-tab-btn{
	padding:0px 0px 0px;
	margin-bottom:15px;
}
.st-tab-content{
	padding:30px 0px 0px;
}
.st-tab-btn .nav-tabs .nav-item{
	border:0px;
	margin:0px 15px 0px 0px;
	padding:0px 0px;
}
.st-tab-btn .nav-tabs .nav-item:last-child{
	margin:0;
}
.st-tab-btn .nav-tabs .nav-item .nav-link, .st-tab-btn .nav-tabs .nav-link{
	border:0px;
	background:none;
	color:var(--heading-text-color);
	font-weight:700;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:18px;
	padding:15px;
	position:relative;
}
.st-tab-btn .nav-tabs .nav-link{
	padding:15px 0px;
}
.st-tab-btn .nav-tabs .nav-item .nav-link:after{
	content:"";
	height:3px;
	background:var(--heading-text-color);
	position:absolute;
	bottom:-3px;
	right:0;
	width:0;
	transition:all 0.5s ease-in-out;
}
.st-tab-btn .nav-tabs .nav-link.active:after{
	left:0;
	width:100%;
}
.testimonial-section{
	position:relative;
	overflow:hidden;
}
.client-testimonial.theme-two .client-info p{
	margin:0;
}
.client-testimonial.theme-two .client-info h5 {
	font-weight:700;
	font-size:20px;
}
.slick-slider{
	direction:ltr !important;
}
.slick-prev::before, .slick-next::before {
	font-family: 'Line Awesome Free';
	font-weight: 900;
	color:var(--heading-text-color);
	font-size:36px;
}
.slick-prev::before{
	content:"\f30a";
}
.slick-next::before{
	content:"\f30b";
}
.call-to-action{
	width:100%;
}
.call-to-action .call-btn{
	font-family:"Source Sans Pro",sans-serif;
	font-size:32px;
	line-height:1;
	border-bottom:1px solid;
	display:inline-block;
	font-weight:700;
}
.call-to-action label, .subscribe-form-wrapper label{
	font-family:"Source Sans Pro",sans-serif;
	font-size:20px;
	font-weight:600;
	line-height:1;
	margin-bottom:0px;
	color:var(--heading-text-color);
	display: block;
	margin-bottom:15px;
}
.subscribe-form-wrapper .or{
	display: block;
	margin:15px 0px;
}
.subscribe-form-wrapper form{
	position:relative;
}
.subscribe-form-wrapper .form-control{
	padding:0px 215px 0px 15px;
	height:58px;
	-webkit-border-radius:9px;
	border-radius:9px;
}
.subscribe-form-wrapper .btn{
	position:absolute;
	top:5px;
	right:5px;
}
.testimonial-section.style-two:before{
	content:"";
	height:400px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
}
.client-testimonial.theme-two .slick-slider{
	padding:30px 0px 30px;
}
.client-testimonial.theme-two .slick-list{
	margin:0px -15px;
}
.client-testimonial.theme-two .slick-slide{
	padding:0px 15px 30px;
}
.client-testimonial.theme-two .testimonial-text {
	background:var(--white-color);
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	padding: 45px 30px 60px;
	position: relative;
	text-align:center;
}
.client-testimonial.theme-two .testimonial-text::after{
	background:var(--heading-text-color);
	border-radius: 60px;
	padding: 5px;
	height: 50px;
	width: 50px;
	line-height: 40px;
	text-align: center;
	color:var(--white-color);
	content: "\f10d";
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	position: absolute;
	top: 100%;
	left:50%;
	margin-top:-25px;
	margin-left:-25px;
	font-size: 24px;
}
.client-testimonial.theme-two blockquote {
	font-size: 18px;
	font-style: italic;
	line-height: 1.5;
	border: none;
	margin: 0;
	padding: 0;
	position: static;
}
.client-testimonial.theme-two blockquote:before{
	content:"";
	display:none;
}
.client-testimonial.theme-two .client-info{
	margin-top:30px;
}
.client-testimonial.theme-two .slick-prev, .client-testimonial.theme-two .slick-next {
	top:100%;
	right:50%;
	left: auto;
	background: transparent;
	z-index: 1;
	height: 36px;
	width: 36px;
}
.client-testimonial.theme-two .slick-prev{
	right:50%;
	margin-right:10px;
}
.client-testimonial.theme-two .slick-next {
	right:auto;
	left:50%;
	margin-left:10px;
}
.client-testimonial.theme-two .slick-disabled{
	opacity:0.4;
}
.dc-two.about-section{
	background:transparent;
}
.circle-background-animation{
	padding:60px 0px 60px;
}
.circle-background-animation img{
	position:relative;
}
.circle-background-animation:before{
	content:"";
	height:617px;
	width:617px;
	left:0;
	top:0;
	right: 0;
	margin: auto;
	bottom:0;
	position:absolute;
	-webkit-animation: rotate-right 10s linear 0s infinite;
	animation: rotate-right 10s linear 0s infinite;
}
@-webkit-keyframes rotate-right {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.counter-wrapper{
	margin:0px -30px;
}
.counter-block{
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
	padding:0px 30px;
	position:relative;
}
.counter-block .counter-title{
	font-size:17px;
	font-weight:bold;
	color:var(--heading-text-color);
	margin-top:10px;
}
.counter-block .counter-number, .counter-block .counter-number-after{
	font-size:48px;
	font-weight:bold;
	color:var(--heading-text-color);
	font-family: 'Source Sans Pro', sans-serif;
	text-transform:uppercase;
	line-height: 1;
}
.counter-block .counter-number-suffix{
	background:var(--heading-text-color) ;
	font-size:52px;
	font-weight:bold;
	font-family: 'Source Sans Pro', sans-serif;
	position:relative;
	top:-12px;
	line-height:0.8;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.how-it-work-wrapper{
	display:flex;
	flex-wrap:wrap;
	width:100%;
}
.how-it-work-wrapper .item{
	text-align:center;
	padding:15px 30px 0px;
}
.how-it-work-wrapper.three-step .item{
	flex:0 0 33.3334%;
	max-width:33.3334%;
	width:100%;
}
.how-it-work-wrapper .step-number{
	height:120px;
	width:120px;
	line-height:120px;
	text-align:center;
	-webkit-border-radius:50%;
	border-radius:50%;
	margin:0px auto 15px;
	background:rgba(255,255,255,0.1);
	font-size:48px;
	font-weight:bold;
	font-family: 'Source Sans Pro', sans-serif;
	font-style:italic;
}
.how-it-work-wrapper .step-title{
	font-size:24px;
}
/*----------------------------------------------*
06.) Footer CSS
/*----------------------------------------------*/
.main-footer{
	padding:100px 0px;
	background-size:cover;
	background-position:top center;
	font-size: 16px;
	line-height: 1.5;
}
.main-footer a{
	color:var(--body-text-color);
}
.main-footer.style-dark a{
	color: var(--white-color);
}
.social-media-links{
	display:flex;
	align-items:center;
	flex-wrap: wrap;
}
.social-media-links ul{
	margin:0px;
	padding:0px;
	width:100%;
}
.social-media-links li{
	padding:0;
	margin:0 2px;
	display:inline-block;
}
.social-media-links li a{
	line-height:46px;
	width:48px;
	height:48px;
	display:block;
	font-size:24px;
	-webkit-border-radius:6px;
	border-radius:6px;
	text-align:center;
	border:1px solid var(--light-gray);
	position:relative;
	overflow:hidden;
}
.social-media-links li a:before{
	background:rgba(0,0,0,0.03);
	width: 100%;
	height: 100%;
	left:0;
	content:"";
	position:absolute;
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
	-webkit-transform:translateY(100%);
	transform:translateY(100%);
}
.style-dark .social-media-links li a{
	border:1px solid rgba(255,255,255,0.2);
}
.style-dark .social-media-links li a:before{
	background:rgba(255,255,255,0.1);
}
.copyright-bar{
	padding:20px 0px;
	font-size:16px;
	border-top:1px solid rgba(0,0,0,0.1);
}
.social-media-links li:hover a:before{
	-webkit-transform:translateY(0);
	transform:translateY(0);
}
.widget .widget-title{
	margin-bottom:25px;
}
.widget .widget-title h3.title{
	font-size:20px;
	letter-spacing: 0;
}
.contact-info{
	margin-bottom:30px;
}
.contact-info li{
	margin-bottom:15px;
	position:relative;
	padding-left:35px;
}
.contact-info li:last-child{
	margin-bottom:0;
}
.contact-info li:before{
	font-size:20px;
	font-family: "Font Awesome 5 Free";
	font-weight:900;
	position:absolute;
	left:0;
	top:-2px;
}
.contact-info li.address-field:before{
	content:"\f1fa";
}
.contact-info li.email-field:before{
	content:"\f658";
}
.contact-info li.phone-field:before{
	content:"\f095";
}
.style-dark .contact-info li:before{
	color:var(--white-color);
}
.footer-nav ul{
	margin:0;
	padding:0;
}
.footer-nav li{
	margin-bottom:15px;
	position:relative;
	padding-left:30px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.footer-nav li a{
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.footer-nav li a:hover{
	opacity:0.6;
}
.footer-nav li:last-child{
	margin-bottom:0;
}
.footer-nav li:before{
	font-size:16px;
	font-family: "Font Awesome 5 Free";
	content:"\f28d";
	font-weight:400;
	position:absolute;
	left:0;
	top:1px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.style-dark .footer-nav li:before{
	color:var(--white-color);
}
.footer-nav li:hover:before{
	opacity:0.6;
}
.footer-theme-two .copyright-bar{
	border-top:1px solid rgba(255,255,255,0.2);
}
.about-info img{
	max-width:185px;
}
.playstore-widget h3{
	font-size: 20px;
	letter-spacing: 0;
}
.playstore-widget ul{
	list-style:none;
	margin:0;
	padding:0;
}
.playstore-widget ul li{
	list-style:none;
	margin:0 5px 0px 0;
	padding:0;
	display: inline-block;
}
.playstore-widget ul li a{
	border: 1px solid rgba(0,0,0,0.1);
	position: relative;
	overflow: hidden;
	border-radius:6px;
	line-height:46px;
	padding:0px 15px 0px 45px;
	font-size:17px;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:500;
	display: block;
	color:var(--heading-text-color);
}
.style-dark .playstore-widget ul li a{
	border: 1px solid rgba(255,255,255,0.2);
}
.playstore-widget ul li a:before{
	font-size:16px;
	font-family: "Font Awesome 5 Brands";
	content:"\f28d";
	font-weight:400;
	position:absolute;
	left:15px;
	top:50%;
	transform: translateY(-50%);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	font-size:20px;
}
.playstore-widget ul li.google a:before{
	content:"\f3ab";
}
.playstore-widget ul li.apple a:before{
	content:"\f179";
	font-size:24px;
}
.main-footer .playstore-widget ul li a::after{
	background: rgba(255,255,255,0.1);
	width: 100%;
	height: 100%;
	left: 0;
	content: "";
	position: absolute;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.main-footer .playstore-widget ul li:hover a::after{
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.main-footer .image-wrapper{
	margin-bottom:30px;
}
/*----------------------------------------------*
07.) Inner Pages CSS
/*----------------------------------------------*/
/*----------------------------------------------*
08.) Blog Layout CSS
/*----------------------------------------------*/
blockquote {
	font-size:18px;
	font-style: italic;
	line-height: 28px;
	position: relative;
	padding: 30px 30px 30px 60px;
	clear: both;
	margin:30px 0 30px 25px;
	border:1px solid var(--light-gray);
}
blockquote::before {
	background: #000000;
	border-radius: 60px;
	padding: 5px;
	height: 50px;
	width: 50px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	content: "\f10d";
	font-family: "Font Awesome 5 Free";
	font-style: normal;
	font-weight: 900;
	position: absolute;
	top: 38px;
	left: -25px;
	font-size: 24px;
}
/*----------------------------------------------*
09.) 404 and Comingsoon Page CSS
/*----------------------------------------------*/
/*----------------------------------------------*
10.) Sign-In and Sign-Up CSS
/*----------------------------------------------*/
.or{
	margin:15px 0px;
	text-align:center;
	font-weight:600;
	text-transform:uppercase;
}
/*----------------------------------------------*
11.) Timeline CSS
/*----------------------------------------------*/
/*----------------------------------------------*
12.) Responsive Media Query CSS
/*----------------------------------------------*/
@media only screen and (max-width:1365px) {
	.circle-background-animation::before{background-size:cover !important; height:500px; width:500px; }
}
@media only screen and (max-width:1279px) {
	.features-block.theme-three .inner-box{padding: 30px 10px;}
}
@media only screen and (max-width:1199px) {
	.menu-primary > li.menu-item > a{padding: 0px 5px;}
	.container{max-width: 960px;}
	h1, .h1{font-size: 42px;}
	h2{font-size: 38px;}
	.counter-wrapper{margin: 0px -15px;}
	.counter-block{padding: 0px 15px;}
	.counter-block .counter-number, .counter-block .counter-number-after{font-size: 42px;}
	.circle-background-animation::before{background-size:cover; height:450px; width:450px; }
	.features-block.theme-three .inner-box{padding: 30px 15px;}
}
@media only screen and (max-width:991px) {
	.container{max-width:720px;}
	.counter-wrapper{margin: 0px -15px 30px;}
	.pricing-plans-one .price-card.popular{top:0;}
	.pricing-plans-one .price-card{margin: 30px auto 0; max-width: 420px;}
	.main-footer{padding:70px 0px;}
	.main-footer .widget{margin:30px 0px;}
	.menu-toggle-btn {display: block;}
	#navigation {background: #fff;position: fixed; right: 0; top: 0; -webkit-box-shadow: -20px 0px 20px 0px rgba(0, 0, 0, 0.1);
		box-shadow: -20px 0px 20px 0px rgba(0, 0, 0, 0.1); height: 100vh; overflow: auto; z-index: 1; width: 100%; max-width: 360px;
		display: block; padding: 80px 0 30px; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; transform: translateX(120%);}
	#navigation .menu-primary {padding: 15px 0px 30px; width: 100%; margin: auto;}
	#navigation .menu-primary li.menu-item {display: block; padding:0px 0px; border-bottom: 1px solid rgba(0,0,0,0.06);}
	#navigation .menu-primary li.menu-item:last-child {border-bottom:0px;}
	#navigation .menu-primary > li.menu-item:last-child{border-bottom: 1px solid rgba(0,0,0,0.06);}
	#navigation .menu-primary > li.menu-item > a{font-size:15px; display:block; padding:12px 30px; line-height:1.5; text-transform:uppercase; color: var(--heading-text-color);}
	.menu-primary > li.menu-item.menu-item-has-children > a::after{content:"";}
	.menu-primary .sub-menu > li.menu-item.menu-item-has-children > a::after {content:"";}
	.menu-primary li.menu-item .sub-menu{position:static; box-shadow:none;background:transparent; padding:0; transform: none;
		opacity: 1; visibility: visible; display: none; background: rgba(0,0,0,0.04); border-radius: 0; transition:none; -webkit-transition:none; }
	#navigation .menu-primary .child-link{display:block; position:absolute; right:10px;top:0px; height:46px; width:42px; text-align: center; line-height:46px; cursor:pointer; transition:all 500ms ease-in-out;  -webkit-transition:all 500ms ease-in-out; border-radius:50px; -webkit-border-radius:50px;  }
	.menu-primary > li.menu-item.mega-menu{position:relative; }
	.menu-primary .sub-menu > li.menu-item > a::before {display:none; }
	#navigation .menu-primary .sub-menu li.menu-item a{display:block; padding:12px 30px; line-height:1.5; color: var(--heading-text-color);}
	.menu-primary .sub-menu li.menu-item > .sub-menu{margin-left:0;}
	.menu-primary .sub-menu > li.menu-item.col-title > a{font-size: 18px; margin: 0;}
	.menu-primary .mega-menu-inner > li.menu-item > .sub-menu{display: block !important; background:transparent; }
}
@media only screen and (max-width:767px) {
	.container{max-width:540px;}
	h1, .h1{font-size:36px;}
	h2{font-size:32px;}
	h3{font-size:30px;}
	h4{font-size:26px;}
	.counter-wrapper{flex-wrap: wrap; margin: 0px -15px 0px;}
	.counter-block {padding: 0px 15px;flex: 0 0 50%; max-width: 50%; margin:15px 0px;}
	.counter-block::after{display:none;}
	.st-tab-btn .nav-tabs .nav-item .nav-link::after {display:none;}
	.st-tab-btn .nav-tabs{border:none; box-shadow:0 0 15px 5px rgba(0,0,0,0.06); -webkit-box-shadow:0 0 15px 5px rgba(0,0,0,0.06); display:none; background:var(--white-color);}
	.st-tab-btn .nav-tabs .nav-item{margin:0; display:block; width: 100%;}
	.st-tab-btn{margin:0;}
	.st-tab-btn .nav-tabs .nav-link{padding:15px; }
	.features-block.theme-three .inner-box {padding: 30px 15px;}
	.how-it-work-wrapper.three-step .item{flex: 0 0 100%; max-width: 100%; padding: 15px 0px 0px;}
	.page-header.dc-four{padding-bottom:120px;}
}
@media only screen and (max-width:575px) {
	.btn-wrapper .btn:first-child::after {display: table; clear: both;content: "";}
	.btn-wrapper > .btn{display: table;}
	.text-center .btn-wrapper > .btn{margin:0px auto;}
	.btn + .btn{margin-left:0; margin-top:15px; }
	.subscribe-form-wrapper .form-control{padding: 0px 15px 0px 15px; height: 48px; -webkit-border-radius: 6px; border-radius: 6px;}
	.subscribe-form-wrapper .btn{position:static; }
	.circle-background-animation{overflow:hidden;}
	.circle-background-animation::before{display:none;}
	.features-block.theme-three{max-width:320px; margin-left:auto; margin-right:auto; }
	.features-block.theme-three h4 br{display:none;}
}
@media only screen and (max-width:419px) {
	.page-header.dc-four{padding-bottom:80px;}
	.social-media-links ul{flex: 0 0 100%;}
}