::-moz-selection { /* Code for Firefox */
	color:#ffffff;
	background:#2a1fbc;
}

::selection {
	color:#ffffff;
	background:#2a1fbc;
}
a {
	color:#2a1fbc;
}
.btn-primary{
	background-image: -moz-linear-gradient(top, #488fed 0%, #2a1fbc 100%);
	background-image: -webkit-linear-gradient(top, #488fed 0%, #2a1fbc 100%);
	background-image: linear-gradient(to bottom, #488fed 0%, #2a1fbc 100%);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
	box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
	background-size:auto 140%;
	border:0px;
}
.btn-primary:hover, .btn-primary:focus{
	color: #fff;
}
.btn-primary.btn-light{
	background:#ffffff;
	color:#485974;
}
.btn-primary.btn-light:hover, .btn-primary.btn-light:focus{
	color:#2a1fbc;
}
.btn-secondary{
	background-color: #485974;
	border-color: #485974;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}
.btn-secondary:hover, .btn-secondary:focus{
	background-color: #2d3646;
	border-color: #2d3646;
	color:#ffffff;
}
.btn-outline-primary{
	background:transparent;
	border:2px solid #2a1fbc;
	color:#2a1fbc;
}
.btn-outline-primary:hover, .btn-outline-primary:focus{
	background:#2a1fbc;
	border-color:#2a1fbc;
	color:#ffffff;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);
}
.menu-primary li.menu-item:hover > a, .menu-primary li.menu-item.active > a{
	color:#2a1fbc;
}
.menu-primary .sub-menu > li.menu-item > a:before{
	background: -moz-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #488fed), color-stop(100%, #291fbc));
	background: -webkit-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: linear-gradient(to right, #488fed 0%, #291fbc 100%);
}
.menu-primary .sub-menu > li.menu-item.col-title > a:after{
	background: -moz-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #488fed), color-stop(100%, #291fbc));
	background: -webkit-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: linear-gradient(to right, #488fed 0%, #291fbc 100%);
}
.page-header.dc-four{
	background-image:url('../../images/default-color/bg-4.png');
	background-position:center bottom;
	background-size:100% auto;
	background-repeat:no-repeat;
}
.heading-wrapper span{
	color:#2a1fbc;
}
.heading-wrapper.with-separator h1:after,
.heading-wrapper.with-separator h2:after{
	background: -moz-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #488fed), color-stop(100%, #291fbc));
	background: -webkit-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: linear-gradient(to right, #488fed 0%, #291fbc 100%);
}
.light-bg{
	background:#f6f5ff;
}
.footer-theme-two{
	background: -webkit-linear-gradient(-84deg, #1f53bc 0%, #291fbc 100%);
	background: -moz-linear-gradient(-84deg, #1f53bc 0%, #291fbc 100%);
	background: linear-gradient(-84deg, #1f53bc 0%, #291fbc 100%);
}
.pricing-plans-one .card-title{
	color:#291fbc;
}
.pricing-plans-one .pricing-feature-list li::before{
	color:#291fbc;
}
.pricing-plans-one .price-card.popular .card-header{
	background:url('../../images/default-color/plan-card-header-bg.png') no-repeat scroll center bottom;
	background-size:cover;
	padding:50px 30px 50px;
	margin-bottom:30px;
}
.pricing-plans-one .price-card.popular .card-title, .pricing-plans-one .price-card.popular .plan-cost, .pricing-plans-one .price-card.popular .plan-validity{
	color:#ffffff;
}
.list-style-one li:before, .list-style-one li:after{
	background:#291fbc;
}
.counter-block .counter-number-suffix{
	background: -webkit-linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
	background: -moz-linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
	background: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.testimonial-section.style-two:before{
	background: url('../../images/default-color/bg-2.jpg') no-repeat scroll center bottom;
	background-size:cover;
}
.client-testimonial.theme-two .testimonial-text::after{
	background: -webkit-linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
	background: -moz-linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
	background: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
}
.dark-bg{
	background:#291fbc;
}
.gradient-heading-bg:before{
	background: url('../../images/default-color/half-circle-bg.png') no-repeat scroll bottom center;
	background-size: cover;
	content: "";
	height:300px;
	width: 100%;
	position: absolute;
	top: 0;
}
blockquote::before {
	background: -webkit-linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
	background: -moz-linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
	background: linear-gradient(-135deg, #4688eb 0%, #291fbc 100%);
}
.circle-background-animation:before{
	background: url('../../images/default-color/circle-img.png') no-repeat scroll center center;
}
.how-it-work-wrapper .step-number{
	background:rgba(62,105,220,0.15);
}
.features-block.theme-three .inner-box:hover{
	-webkit-box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
	box-shadow: 0px 0px 30px 0px rgba(42, 31, 188, 0.4);
	border:1px solid #488fed;
}
.st-tab-btn .nav-tabs .nav-item .nav-link:after, .st-tab-btn .nav-tabs .nav-link:after{
	background: -moz-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: -webkit-linear-gradient(left, #488fed 0%, #291fbc 100%);
	background: linear-gradient(to right, #488fed 0%, #291fbc 100%);
}
.st-tab-btn .nav-tabs .nav-link:hover, .st-tab-btn .nav-tabs .nav-link.active{
	color:#291fbc;
}
.widget .widget-title h3.title{
	color: #291fbc;
}
.contact-info li::before, .footer-nav li::before  {
	color: #291fbc;
}
@media only screen and (max-width:991px) {
	#navigation .menu-primary li.menu-item:hover > a, #navigation .menu-primary li.menu-item.active > a {
		opacity: 1;
		color: #291fbc;
	}
}